%h1 Topics
.row
  .large-8.columns
    - @topics.each do |topic|
      = div_for(topic) do
        = link_to topic.name, topic
        %small= topic.description
    /= foundation_paginate @topics
    = my_paginate(@topics)
  .large-4.columns
    - if can? :create, topic
      = link_to 'new topic', new_topic_path, class: 'medium radius button'