%h2= "#{@topic.name.titleize}"
- if can? :update, @topic
  = link_to 'Edit topic', edit_topic_path
%br/ 
= link_to 'Return to topics...', topics_path

.row
  .small-8.columns
    = div_for(@topic, class: 'topic') do
      %h3= @topic.name
      /%p= "Added by #{@topic.user.username}"
      %p= @topic.description
    - if @posts.any?
      %h3 Posts on this topic
      - @posts.each do |post|
        = div_for(post, class: 'post') do
          %h3= link_to post.title, [@topic, post]
          %p
            updated
            = time_ago_in_words(post.created_at)
            ago by
            = post.username
            %br/ 
            = post.comments.count
            comments

          %p= post.body
          - if can? :edit, post
            = link_to 'Edit post', edit_post_path(post), class: 'small radius button'
  - if can? :create, Post
    = link_to 'New Post', new_topic_post_path(@topic), class: 'medium radius button'
 
