= link_to 'Return to topics...', topics_path
%h2= "#{@topic.name.titleize}"
%br/ 
- if can? :update, @topic
  = link_to 'Edit topic', edit_topic_path, class: 'small radius button'
- if can? :destroy, @topic
  = link_to 'Delete topic', @topic, method: :delete, class: 'small radius alert button', confirm: 'Are you sure you want to delete this topic?'
.row
  .small-8.columns
    = div_for(@topic, class: 'topic') do
      %h3= @topic.name
      /%p= "Added by #{@topic.user.username}"
      %p= @topic.description
    - if @posts.any?
      %h3 Posts on this topic
      - @posts.each do |post|
        = div_for(post) do
          %h3= link_to(markdown(post.title), [@topic, post])
          %p
            = show_user_avatar('80x80')
            updated
            = time_ago_in_words(post.created_at)
            ago by
            = post.username
            %br/ 
            = post.comments.count
            comments
            = render partial: 'votes/voter', locals: { topic: @topic, post: post }

          %p
            = show_post_image(post)
            = markdown post.body
          - if can? :edit, post
            = link_to 'Edit post', edit_post_path(post), class: 'small radius button'
      = foundation_paginate @posts
  - if can? :create, Post
    = link_to 'New Post', new_topic_post_path(@topic), class: 'medium radius button'
 
