%h1 
  = @user.email

%h3 Recent posts
- @posts.each do |post|
  = div_for(post, class: 'post') do
    %h3
      = markdown post.title
    %p
      = show_user_avatar
      = "Posted by #{post.user.username}"
    %p
      = show_post_image(post)
      = markdown post.body
