%h1 Welcome to your dashboard

%p
  You are signed in as
  = @dashboard.username

%p Upload a random audio file.  Because you can.

%p
  View all
  = link_to 'topics', topics_path
%p 
  = link_to "Top users", users_path

%h3 Popular posts today:
= render partial: 'posts/post', collection: @posts
= will_paginate @posts, renderer: FoundationPagination::Rails

