= link_to 'Return to posts...', topic_posts_path
.row
  .small-11.small-centered.columns
    = div_for(@post, class: 'post') do
      %h3= markdown @post.title
      %p
        = show_user_avatar
        = "Posted by #{@post.user.username}"

      %p
        = show_post_image(@post)
        = markdown @post.body
      - if can? :edit, @post
        = link_to 'Edit post', edit_topic_post_path(@topic, @post), class: 'small radius button'

    %p Comments:

    / #comments-container
    /   = render 'posts/comments'

    - @post.comments.each do |comment|
      = div_for(comment, class: 'comment') do
        %p= "Posted by #{comment.username} #{time_ago_in_words(comment.created_at)} ago"
        = markdown comment.body
    %p Add a comment

    = form_for [@post, @comment], remote: true do |f|
      = f.text_area :body, class: 'medium-text-box'
      = f.submit 'Add comment', class: 'medium radius secondary button'


