%header.page-header{role: 'banner'}
  .row
    .small-3.columns
      .logo
        = link_to(image_tag('bloccit.png', size: '64x64'), root_path)
    .small-9.columns
      %nav.utility
        - if current_user.present?
          = link_to 'Sign out', destroy_user_session_path, method: :delete
          = link_to 'Profile', current_user
          = link_to 'Settings', edit_user_registration_path
          = show_user_avatar(current_user, '72x72')
        - else
          %ul.login
            %li#login
              %a#login-trigger{href: "#"}
                Log in
                %span ▼
              #login-content
                %form
                  %fieldset#inputs
                    %input#username{name: "Email", placeholder: "Your email address", required: "", type: "email"}/
                    %input#password{name: "Password", placeholder: "Password", required: "", type: "password"}/
                  %fieldset#actions
                    %input#submit{type: "submit", value: "Log in"}/
                    %label
                      %input{checked: "checked", type: "checkbox"}/
                      Keep me signed in


          